<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <main>
      <h1>playing with htmx</h1>

      <!-- <section>
        <ul id="posts-list">
          {{ range .Posts }} {{ block "posts-element" .}}
          <li>
            <h6>{{ .Title }}</h6>
            <p>{{ .Body }}</p>
          </li>
          {{ end }} {{ end }}
        </ul>
      </section> -->
      <button
        hx-get="https://dummyjson.com/posts"
        hx-trigger="click"
        hx-indicator="#loading"
        hx-select="#posts"
        hx-swap="innerHTML"
      >
        Load Posts
      </button>

      <div id="loading" style="display: none">Loading...</div>

      <div id="posts">
        <!-- Posts will be loaded here -->
      </div>
    </main>
  </body>
</html>
